$color-primary-0: #ffb76b; // Main Primary color */
$color-primary-1: #ffddba;
$color-primary-2: #ffc88f;
$color-primary-3: #ffa84c;
$color-primary-4: #e98925;

$color-secondary-1-0: #ffd36b; // Main Secondary color (1) */
$color-secondary-1-1: #ffebba;
$color-secondary-1-2: #ffde8f;
$color-secondary-1-3: #ffca4c;
$color-secondary-1-4: #e9af25;

$color-secondary-2-0: #ff826b; // Main Secondary color (2) */
$color-secondary-2-1: #ffc5ba;
$color-secondary-2-2: #ffa08f;
$color-secondary-2-3: #ff684c;
$color-secondary-2-4: #e94325;

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $color-primary-1;
}

nav {
  background-color: $color-primary-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  .title {
    margin: 0;
    font-size: 32px;
  }

  button {
    padding: 1.25rem;
    background-color: $color-primary-3;
    border: 2px solid $color-secondary-2-3;
    font-size: 16px;
    border-radius: 10px;
  }

  button:hover {
    background-color: $color-secondary-1-3;
  }

  div {
    display: flex;
    align-items: center;

    img {
      padding: 0.5rem;
      padding-left: 0;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

main {
  margin: 1.5rem;

  .question-container {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid $color-primary-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question-container > div {
    display: flex;
    align-items: center;
  }

  .question-container > div > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .question-title {
    margin-left: 2rem;
    font-size: 20px;
  }

  .question-score {
    font-size: 26px;
    margin: 0;
    margin-bottom: 0.1rem;
  }
  .question-score-text {
    margin: 0;
    margin-top: 0.1rem;
  }
  h1 {
    border-bottom: 1px solid $color-primary-4;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .question-container:hover {
    background-color: $color-secondary-1-1;
  }
}

.question {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid $color-primary-2;
  display: flex;
  flex-direction: column;

  .question-title {
    margin: 0;
    margin-left: 52px;
    font-size: 26px;
  }

  .question-body-container {
    display: flex;
    align-items: center;
  }

  .question-body {
    margin-left: 2rem;
    line-height: 150%;
  }

  .question-vote-container {
    text-align: center;
  }

  .question-score {
    margin: 0;
  }

  .question-timestamp {
    margin: 0;
    text-align: right;
  }

  i {
    font-size: 32px;
  }

  .zoom {
    transition: transform 0.2s; /* Animation */
  }

  .zoom:hover {
    transform: scale(1.5);
    color: $color-primary-3;
  }

  .zoom:active {
    color: $color-secondary-1-3;
  }
}

.answer-container {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid $color-primary-2;

  .question-body-container {
    display: flex;
    align-items: center;
  }

  .question-body {
    margin-left: 2rem;
    line-height: 150%;
  }

  .question-timestamp {
    margin: 0;
    text-align: right;
  }

  i {
    font-size: 32px;
  }

  .zoom {
    transition: transform 0.2s; /* Animation */
  }

  .zoom:hover {
    transform: scale(1.5);
    color: $color-primary-3;
  }

  .zoom:active {
    color: $color-secondary-1-3;
  }

  .question-vote-container {
    text-align: center;
  }
}

.your-answer > input {
  width: 100%;
  font-size: 16px;
}

.title-query > input {
  width: 100%;
  font-size: 16px;
}

.title-query > p {
  margin-bottom: 0.1rem;
  font-size: 12px;
}

.body-query > textarea {
  width: 100%;
  height: 100px;
}

form {
  margin: 2rem;

  h1 {
    border-bottom: 1px solid $color-primary-4;
    padding-bottom: 1rem;
  }

  button {
    background-color: $color-primary-3;
    border: 1px solid $color-secondary-2-3;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  button:hover {
    background-color: $color-secondary-1-3;
  }
}
